*
!**/
!.gitignore

!Assets/Scripts/**/*.cs
!Assets/Shaders/**/*.shader
!Assets/Shaders/**/*.shadergraph
!Assets/Shaders/**/*.hlsl
!Assets/Shaders/**/*.compute

Library/
Temp/
Obj/
Logs/
UserSettings/
Packages/
ProjectSettings/
.vscode/
*.sln
*.csproj
